<h1>Criar Sub Comunidade do TecCiencia</h1>
<div id="new-community-view">
  <%= render :file => 'memberships/new_community'%>
</div>
<script>
  $('#template-options li').each(function(n, li){
    if(!li.innerText.match(/tecci[eê]ncia/i)){
      $(li).remove();
    }
  });
  $('#template-options input[type=radio]')[0].checked = true;
</script>
<style>
  /*ugly hack para remover o título padrão sem modificar o core*/
  #new-community-view h1 {
    display: none;
  }
</style>
